<div class="card">
    <div class="card-header">
        {{ currencyTitle }}
    </div>

    <div *ngIf="loading; else loadedContent" class="loading-content">
        <img src="../../../../../assets/loader.svg" alt="loader spinner" class="loader" />
    </div>

    <ng-template #loadedContent>
        <div *ngIf="currency; else failedContent" class="card-body">
            <div class="exchange-container">
                <span [ngStyle]="{'color': getCurrencyColor(currency.bid) }">
                    {{(currency.bid | currency: 'BRL')?.toString()?.replace(".", ",") }}
                </span>
            </div>
            <div class="card-footer">
                <div class="footer-info first">
                    <span class="info-title">
                        Variação (%)
                    </span>
                    <span class="info-value">
                        {{ (currency.pctChange | number: '1.2-2')?.toString()?.replace(".", ",") }}
                    </span>
                </div>
                <div class="footer-info">
                    <span class="info-title">
                        Atualizado
                    </span>
                    <span class="info-value">
                        {{currency.create_date | timeFormat }}
                    </span>
                </div>
            </div>
        </div>
        <ng-template #failedContent>
            <div class="failed-body">
                <div class="failed-text">
                    Algo deu errado
                </div>

                <button class="failed-button" (click)="reloadCurrency()">
                    Recarregar
                </button>
            </div>
        </ng-template>
    </ng-template>
</div>